$color-primary: #1d1f23;
$color-secondary: yellow;

$color-bg-base: $color-primary;
$color-bg-highlighted: $color-secondary;

$color-font-base: white;
$color-font-special: $color-secondary;
$color-font-highlighted: $color-primary;
