@mixin background-linear-gradient($top, $bottom) {
	background-image: -moz-linear-gradient(top,$top,$bottom);
	background-image: -webkit-gradient(linear,0 0,0 100%,from($top),to($bottom));
	background-image: -webkit-linear-gradient(top,$top,$bottom);
	background-image: -o-linear-gradient(top,$top,$bottom);
	background-image: linear-gradient(to bottom,$top,$bottom);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

@mixin box-shadow($style) {
	-webkit-box-shadow: $style;
	-moz-box-shadow: $style;
	box-shadow: $style;
}
