/*
Error: Inconsistent indentation: previous line was indented by 1 tab, but this line was indented by 1 space.
        on line 5 of D:\Cloud\Google Drive\Development\workspace\phpstorm\ai-campus.de\Joomla Template Amnesty/amnesty/css/template.css

1: /*
2: 	Stylesheet for Amnesty
3: *\/
4: /* ******* *
5:  * Desktop *
6:  * ******* *\/
7: /* ********** *
8:  * 00 - Debug *
9:  * ********** *\/
10: /* line 5, ../../sass/partials/_general.scss *\/

Backtrace:
D:\Cloud\Google Drive\Development\workspace\phpstorm\ai-campus.de\Joomla Template Amnesty/amnesty/css/template.css:5
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:508:in `try_comment'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:463:in `block in tabulate'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `each_with_index'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:452:in `tabulate'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Ruby25-x64/bin/sass:23:in `load'
C:/Ruby25-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: previous line was indented by 1 tab, but this line was indented by 1 space.\A         on line 5 of D:\Cloud\Google Drive\Development\workspace\phpstorm\ai-campus.de\Joomla Template Amnesty/amnesty/css/template.css\A \A 1: /*\A 2: 	Stylesheet for Amnesty\A 3: */\A 4: /* ******* *\A 5:  * Desktop *\A 6:  * ******* */\A 7: /* ********** *\A 8:  * 00 - Debug *\A 9:  * ********** */\A 10: /* line 5, ../../sass/partials/_general.scss */"; }
