@import "../colors";

/* ----------- iPhone 4 and 4S ----------- */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

$min-width: 320px;
$max-width: 667px;

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: $min-width) 
  and (max-device-width: $max-width) {

	body {
		margin: 0;
		padding: 0;
		background-color: $color-bg-base;
		background-image: none;
	}

	#page {
		min-width: unset;
		max-width: unset;
		
		background-color: yellow;
	}

	#navigation-main
	{
		&.fixednav {
			position: absolute;
		}
		
		ul.nav {
			display: none;
			
			&.toggle-active {
				display: block;
			}

			& > li {
				display: block;

				& + li {
					margin-top: 0.5rem;
				}

				& > a {
					border: none;
					border-bottom: 0.1rem solid yellow;

					font-size: 2rem;
					line-height: 2rem;
				}

				&:hover > ul {
					position: initial;
				}
			}

			ul.nav-child {
				display: block;
				padding-left: 3rem;

				border: none;

				& > li {
					border: none;

					& + li {
						border-top: 0.1rem solid white;
					}

					& > a {
						border: none;

						font-size: 1.4rem;
						line-height: 1.6rem;
					}
				}
			}
		}
		
		.nav-toggle {
		    display: block;
		}
	}
	
	#container {
		flex-wrap: wrap;
		padding: 0;
	}

	#content {
	
		& > div {
			padding: 1.5rem;
		}
	}

	#sidebar-right {
		flex-basis: 100%;
		margin: 0;
	}

	/*
	.sidebar-toggle {
		display: inline-block;
	}

	.sidebar-content {
		display: none;
	}

	.sidebar.active .sidebar-content{
		display: block;
	}

	#sidebar-right {
	    position: absolute;
	    right: 0;
	    width: unset;
	    max-width: 50%;
	}
	*/
}



/* ----------- iPhone 4 and 4S ----------- */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

	html {
		font-size: 36px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
 	/*
	html {
		font-size: 27px;
	}
	*/
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
