#banner {
	background-color: yellow;
	margin: 0;
	padding: 0;
	height: 8.75rem;
	position: relative;
}

/** Logo **/
#logo {
	background-image: url(../images/ai-logo.gif);
	margin: 0;
	padding: 0;
	width: 260px;
	height: 95px;
	position: absolute;
	top: 1.6rem;
	left: 15px;
}

#logo a {
	display: block;
	height: 95px;
	width: 260px;
}

/** Donate & Social links **/
#donate {
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
}

#social {
	position: absolute;
	bottom: 1.6rem;
	right: 1.6rem;

	font-size: 2.0rem;
}

#donate a,
#social a {
	text-align: right;
	text-decoration: none;
	color: black;
}

#donate a:hover,
#social a:hover {
	text-decoration: none;
	color: #909090;
}
