@import "../colors";

/* ********** *
 * 00 - Debug *
 * ********** */

pre {
	background-color: yellow;
	color: black !important;
}


/* ************ *
 * 01 - General *
 * ************ */

body {
	margin: 0;
	padding: 10px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: white;

	color: $color-font-base;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

h1 {
	margin: 0;
	padding: 0;

	font-size: 2rem;
}

h2 {
	margin: 0;
	padding: 0;

	font-size: 2.5rem;
	font-weight: bold;
}

h3 {
	display: inline-block;
	background-color: $color-bg-highlighted;
	padding: 2px 5px;
	margin-top: 0;
	margin-bottom: 0.5rem;

	color: $color-font-highlighted;
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: $color-font-special;
}

a:hover {
	text-decoration: none;
	color: #909090;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	width: 100%;
}

td {
	padding: 1px 15px 1px 1px;
}


tbody tr:nth-child(2n+1) {
	background-color: #343434;
}

/*
tbody tr:hover {
	color: black;
	background-color: yellow;
	cursor: pointer;
}
*/

fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

label {
	display: block;
}

.rtl {
	direction: rtl;
}

.control-label {
	float: left;
	margin: 0 0.5em 0 0;
	padding: 0;
	width: 7.5em;

	text-align: right;
	vertical-align: text-bottom;

	.hasPopover,
	.hasTooltip {
		display: inline-block;
	}
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
	display: inline-block;
	float: none;
	margin: 0;
	text-align: left;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

select,
input[type=text],
input[type=date],
input[type=password] {
	border: 1px solid #ccc;
	padding: .125rem .25rem;

	font-size: 0.75rem;
}

input[type=text],
input[type=date],
input[type=password] {
	height: 1rem;
	width: 8.5rem;
}

input[type=radio],
input[type="checkbox"] {
	width: 1.5em;
	margin: 0;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
	float: left;
	margin-right: 3px;
}

select {
	width: 9.1rem;
}

ul,
ol {
	padding: 0;
	margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul.unstyled,
ol.unstyled {
	margin-left: 0;
	list-style: none;
}

.element-invisible {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.control-group {
	margin-bottom: 9px;
}

.input-append .add-on,
.input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: 1rem;
	min-width: 16px;
	padding: .125rem .25rem;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1rem;
	text-align: center;
	border: 1px solid #ccc;
}

.control-group:after {
  content: "";
  display: table;
  clear: both;
}

.input-append,
.input-prepend {
	font-size: 0;
	white-space: nowrap;
}

.input-prepend > .add-on,
.input-append > .add-on {
	vertical-align: top;
}

.input-prepend .add-on,
.input-prepend .btn {
	margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
	@include border-radius(3px 0 0 3px);
}

.pull-right {
	float: right;
}

@import "general/buttons";
@import "general/pagination";

#page {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1075px;
	min-width: 775px;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 1rem 0;
}

#content {
	flex: 1 1 auto;
	overflow: auto;

	& > div {
		padding: 2.8rem 5rem;
		background: $color-bg-base;
	}
}

#footer {
	padding: 0.5rem;
	background-color: $color-bg-base;
}


/* Author Frontend */

ul.actions li {
	font-size: .9em;
}

span.highlight {
	background-color: yellow;
	color: black;
	margin: 1px;
}


/* Controls */

.dropdown-menu {
	position: absolute;
	right: 0;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;

	@include border-radius(3px);

	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.open > .dropdown-menu {
	display: block;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
}

/* SLIDER */
.slick-slider {
	.slick-slide {
		position: relative;
	}

	.article-content {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 75%;
		min-width: 10rem;

		padding: 1rem 2rem;

		background-color: rgba(255, 255, 255, 0.8);

		color: #000000;

		h2 {
			text-shadow: 1px 2px #000000;
		}
	}

}
