@import "../colors";

.nav {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;

	& > li > a {
		display: block;
	}
}

.nav-tabs {
	border-bottom: 1px solid #ddd;

	& > li {
		margin-bottom: -1px;

		& > a {
			padding-top: 8px;
			padding-bottom: 8px;
			line-height: 18px;
			border: 1px solid transparent;
			-webkit-border-radius: 4px 4px 0 0;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
		}
	}
}

.nav-tabs > li,
.nav-pills > li {
	/* float: left; */

	& > a {
		padding-right: 12px;
		padding-left: 12px;
		margin-right: 0.1rem;
		line-height: 14px;
	}
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background-color: #000;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}

.nav-tabs::after,
.nav-pills::after {
	clear: both;
}

.nav-tabs::before,
.nav-tabs::after,
.nav-pills::before,
.nav-pills::after {
	display: table;
	content: "";
	line-height: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: none;
}

.tab-content > .active,
.pill-content > .active {
	display: block;
}

#navigation-main {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: $color-bg-base;
	line-height: normal;
	overflow: visible;

	z-index: 1;
		
	.nav-toggle {
		display: none;

	    background-color: $color-bg-highlighted;

	    color: $color-font-highlighted;
	    font-size: 3rem;
	    line-height: 3rem;
	    text-align: right;
	    
	    [class^="icon-"] {
	    	width: initial;
	    	height: initial;
			margin-top: 0.8rem;
	    	margin-right: 1.6rem;
			margin-bottom: 0.8rem;
	    	
	    	line-height: inherit;
	    }
	}

	/* main-menu */
	& > ul {
		a {
			background: none repeat scroll 0px 0px $color-bg-base;
			color: $color-font-special;
			display: block;
			font-size: 0.8rem;
			font-weight: 700;
			text-decoration: none;
			white-space: nowrap;
			padding: 0.65rem 0.85rem;
		}

		/* main-menu entry */
		& > li {
			position: relative;
			display: inline-block;

			& > a {
				border-right: 0.1rem solid yellow;
				letter-spacing:0.2rem;
				text-transform: lowercase;
			}

			/* submenu */
			& > ul {
				display: none;
				border: 1px solid $color-bg-base;
				border-top: 0;
				border-left: 1px solid $color-bg-highlighted;

				a {
					border-top: 0.1rem solid white;
				}
			}
		}

		& li:hover {
			& > a {
				background: none repeat scroll 0 0 #333;
				color: white;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

#navigation-main.fixednav {
	position: fixed;
	top: 0;

	z-index: 10;
}

#navigation-main > ul > li:hover > ul {
	position: absolute;
	display: block;
	z-index: 1;
}

/** Joomla 2.5 **/
#navigation-main > ul #active_menumainnav,
/** Joomla 3.0 **/
#navigation-main > ul > li.current > a
{
	margin-top: 0.1rem;
	background: none repeat scroll 0 0 yellow;
	color: #000;
}
