@import "../colors";

#sidebar-right {
	overflow:hidden;
	width: 12rem;
	flex: 0 0 auto;
	margin-left: 1rem;

	font-size: 0.75rem;
}

.sidebar-toggle {
	display: none;
    padding: 0.5rem;
	background-color: white;
    color: black;
    font-size: 3.0rem;
}

.sidebar-content > div {
	background: $color-bg-base;
	margin: 0;
	padding: 0.5rem;
}

.sidebar-content > div + div{
	margin-top: 1rem;
}
