.btn {
	*display: inline;
	*zoom: 1;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	*margin-left: .3em;
}

.btn {
	display: inline-block;
	padding: 4px 12px;
	@include background-linear-gradient(#fff, #e6e6e6);
	background-repeat: repeat-x;
	@include border-radius(4px);
	@include box-shadow((inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)));

	&:hover,
	&:focus {
		@include background-linear-gradient(#ffd500, yellow);
	}

	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.btn-primary {
	border-color: yellow;
	background-color: yellow;
	@include background-linear-gradient(yellow, #ffd500);
}

.btn-toolbar {
	font-size: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}

.btn-group {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
	*margin-left: .3em;

	& > .btn,
	& > .dropdown-menu,
	& > .popover {
	    font-size: 13px;
	}

	& > .btn {
		position: relative;
		@include border-radius(0);
	}

	& > .btn:first-child {
		margin-left: 0;
		@include border-top-left-radius(4px);
		@include border-bottom-left-radius(4px);
	}

	& > .btn:last-child,
	& > .dropdown-toggle {
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
	}

	& + .btn-group {
		margin-left: 5px;
	}
}
